.annotation-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh; /* Full viewport height */
  width: 200px; /* Adjust as necessary */
  background-color: #3a3a3a;
  padding: 20px;
  color: #ffffff;
  font-family: Arial, sans-serif;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Shadow to give separation from main content */
  z-index: 1000; /* Make sure it stays above the content */
}

.dropdown {
  margin-bottom: 20px;
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.dropdown select {
  width: 100%;
  padding: 5px;
  background-color: #676767;
  font-family: "Roboto Medium", "Roboto", sans-serif;
  color: white;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

/* 当鼠标悬停在选择框上时的颜色变化 */
.dropdown select:hover {
  background-color: #777777;
}

.tooth-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}

.tooth-item {
  width: 150px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Arial Bold", "Arial", sans-serif;
  box-sizing: border-box;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
  margin-bottom: 8px;
  font-size: 14px;
}

.tooth-item span {
  color: #989797;
}

.tooth-item:hover {
  background-color: #4c4c4c; 
  box-shadow: 0 2px 5px rgba(76, 76, 76, 0.2); 
  cursor: pointer; 
}
.circle {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-right: 65px;
}

.annotation-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  text-align: left;
  font-size: 13px;
  margin: 0;
}

.annotation-item input[type="color"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

.annotation-item input[type="color"]::-webkit-color-swatch {
  border: none;
}

.annotation-item input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}


.remove-button {
  background-color: rgb(198, 4, 4);
  color: white;
  border: none;
  padding: 3px 3px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
}

.remove-button:hover {
  background-color: darkred;
}

.custom-input {
  background-color: #676767;
  color: #fff;
  border: 1px solid #555;
  padding: 5px;
  border-radius: 5px;
}

.custom-input::placeholder {
  color: #bfbfbf;
}



.submit-button:hover {
  background-color: #777777;
}

.submit-button:active {
  transform: scale(0.98);
  background-color: #9d9e9d;
}

.annotation-item span {
  display: inline-block;
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.annotation-item input[type="text"] {
  max-width: 80px;
}
/* 父容器设置为 text-align 居中 */
form {
  text-align: center;
}


/* 父容器设置为 flex 布局，水平排列 input 和颜色选择器 */
.form-row {
  display: flex;
  align-items: center; /* 垂直居中对齐 */
  margin-bottom: 10px; /* 给下方留出间隙 */
}

.custom-input {
  background-color: #676767;
  color: #fff;
  border: 1px solid #555;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px; /* 给颜色选择器留出间隙 */
  width: 150px; /* 控制输入框的宽度 */
}

.color1 {
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  overflow: hidden;
}

/* 确保内部的颜色样式也被正确应用 */
.color1::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.color1::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.submit-button {
  background-color: #717070;
  color: rgb(255, 255, 255);
  height: 20px;
  min-width: 80px;
  border: none;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
  background-color: #c4c4c4;
}

.submit-button:active {
  transform: scale(0.98);
  background-color: #919191;
}
.edit-button {
  background-color: #717070;
  color: rgb(255, 255, 255); 
  height: 20px; 
  min-width: 60px;
  border: none; 
  padding: 2px 5px;
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 12px; 
  text-align: center;
  transition: background-color 0.3s, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.edit-button:hover {
  background-color: #c4c4c4; 
}

.edit-button:active {
  transform: scale(0.98);
  background-color: #919191; 
}

.teeth-color {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

.teeth-color::-webkit-color-swatch {
  border: none;
}

.teeth-color::-webkit-color-swatch-wrapper {
  padding: 0;
}

.tooth-item.selected {
  background-color: rgba(76, 76, 76, 0.5); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}