#root {
  margin: 0;
  padding: 0;
  height: 100%;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-header {
  position: absolute;  /* 绝对定位 */
  top: 10px;           /* 离顶部 10px */
  left: 10px;          /* 离左边 10px */
  padding: 0;
}

.upload-button {
  display: flex;
  align-items: center;
}

.upload-button button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #606052;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-button button:hover {
  background-color: #646cff;
}

.upload-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;  /* 图标与文本之间的间距 */
}
.folder-path {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
.file-list {
  position: absolute;
  top: 0px; /* 根据需要调整位置 */
  left: 0px; 
  width: 200px; /* 根据内容调整宽度 */
  max-height: 100vh;
  overflow-y: auto;
  background: rgba(215,215,215, 0.8);
  border: 1px solid #211b1b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}

/* 拖动条样式 */
.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px; /* 拖动条宽度 */
  height: 100%; /* 拖动条高度与容器相同 */
  background: #666; /* 拖动条颜色 */
  cursor: ew-resize; /* 光标样式 */
}
.file-item {
  margin: 5px 0;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #555555;
}

.file-item:hover {
  background-color: #e7e6e6;
}

.file-item.selected {
  background-color: #eeeaea;
}

.toggle-button {
  position: absolute;
  top: 0px; 
  left: 0px; 
  z-index: 10;
  padding: 5px 10px;
  cursor: pointer;
  background: rgba(195, 195, 195, 0.8);
  color: rgb(122, 122, 122);
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s; 
}

.toggle-button:hover {
  background-color: #c5c5c5;
}

body {
  display: block;
  margin: 0px;
}

.file-item.highlighted {
  background-color: #95de95;
}
