#cursor-panel {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgba(51, 51, 51, 0.79);
    padding: 10px 20px 10px 10px; 
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    color: white; 
    font-family: Arial, sans-serif;
    width: 250px; 
}

.panel-title {
    margin: 0 0 10px 0; 
    font-size: 16px;
    text-align: center;
    color: white;
}

.close-button {
    position: absolute;
    top: 1px;
    right: 1px;
    background: none;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.close-button:hover {
    color: red; 
}

.cursor-option {
    display: flex;
    justify-content: space-between; /* 左边标签，右边控件 */
    align-items: center;
    margin-bottom: 10px;
}

.cursor-option label {
    flex: 1;
    font-size: 14px;
}

.cursor-option select {
    width: 100px;
    padding: 5px;
    background-color: #333; 
    color: white; 
    border: 1px solid #555;
    border-radius: 4px; 
}

.cursor-option select:hover {
    border-color: #777; 
}

.cursor-option select:focus {
    outline: none; 
    border-color: #aaa; 
}

.cursor-option select option {
    background-color: #333; 
    color: white; 
}



.cursor-option input[type="color"] {
    width: 100px;
    height: 25px;  
    padding: 0;  
    margin-left: 5px;
    border-radius: 4px;  
    border: 1px solid #333;  
    box-shadow: none; 
    background-color: transparent;  
}


.cursor-option input[type="text"] {
    width: 54px;
    padding: 5px;
    background-color: #333;
    border: 1px solid #555;
    color: white;
    margin-left: 5px;
}

/*.cursor-option input[type="range"] {
    width: 100px;
}*/
.cursor-option input[type="range"] {
    -webkit-appearance: none;
    width: 100px;
    background-color: #333;
    height: 6px;
    border: 2px solid #555;
    border-radius: 3px;
    outline: none;
}

.cursor-option input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    background-color: #777;
    border: 2px solid #555;
    border-radius: 50%;
    cursor: pointer;
}

.cursor-option input[type="range"]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background-color: #777;
    border: 2px solid #555;
    border-radius: 50%;
    cursor: pointer;
}

.cursor-option input[type="range"]::-ms-thumb {
    width: 14px;
    height: 14px;
    background-color: #777;
    border: 2px solid #555;
    border-radius: 50%;
    cursor: pointer;
}

.cursor-option input[type="range"]:hover::-webkit-slider-thumb {
    background-color: #999;
}

.cursor-option input[type="range"]:hover::-moz-range-thumb {
    background-color: #999;
}

.cursor-option input[type="range"]:hover::-ms-thumb {
    background-color: #999;
}

.cursor-option input[type="number"] {
    width: 54px; 
    padding: 5px;
    background-color: #333;
    border: 1px solid #555;
    color: white;
}